.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xl);
}

.spinner {
  border: 4px solid var(--bg-tertiary);
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.small .spinner {
  width: 30px;
  height: 30px;
}

.medium .spinner {
  width: 50px;
  height: 50px;
}

.large .spinner {
  width: 70px;
  height: 70px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}