.notFound {
  padding: var(--spacing-2xl) 0;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 6rem;
  color: var(--primary-color);
  margin-bottom: 0;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: var(--spacing-md);
}

.content p {
  color: var(--text-secondary);
  margin-bottom: var(--spacing-xl);
}